# All here are example values, fill with your values

LOG_LEVEL="DEBUG" # TRACE, DEBUG, INFO, WARNING, ERROR, CRITICAL

DISCORD_WEBHOOK_URL=""

QBITTORRENT_HOST="192.168.0.10"
QBITTORRENT_PORT=8080
QBITTORRENT_USERNAME="admin"
QBITTORRENT_PASSWORD="adminadmin"

QBITTORRENT_PRE_PATH="/mnt/raid/arr"
QBITTORRENT_PROTECTED_TAG="protected"

MIN_SEEDING_DAYS=30

DATA_PATH="/mnt/raid/arr/data"
TORRENTS_PATH="/mnt/raid/arr/data/torrents"
MEDIA_PATH="/mnt/raid/arr/data/media"